/*body Styles*/
#bodyMain {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

/* Text Styles*/
h1 {
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: unset;
}
h2 {
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: unset;
}

p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 50px;
}

/*header Section*/
.header-container {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    background-color: darkgray;
}

/*footer Section*/

.footer-container {
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: darkgray;
}
.footer-icon {
    width: 70px;
}

/*logo styles*/
.head_icon {
    justify-content: center;
    display: flex;
    height: 80px;
    padding-left: 24px;
}

/*gallery images*/
.images {
    transition: all 75ms ease-in-out;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 32px;
    margin: 16px;
    min-height: 133px;
    cursor: pointer;
}

.images:hover {
    transition: 75ms ease-in-out;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    outline: 3px solid rgb(192, 187, 202);
    box-shadow: 5px 5px 10px rgb(255, 225, 225);
}

.images:focus {
    transition: 75ms ease-in-out;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    outline: 3px solid rgb(192, 187, 202);
    box-shadow: 5px 5px 10px rgb(255, 225, 225);
}

.image_gallery {
    display: flex;
    justify-content: center;
    padding-top: 22px;
    padding: 20px;
    flex-wrap: wrap;
    overflow: hidden;
}

/* Dialog Styles */

.overlay {
    box-shadow: 5px 5px 10px rgb(255, 225, 225);
    width: fit-content;
    object-fit: contain;
    background-color: hsl(249deg 1.59% 25.72% / 68.5%);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 24px;
}

.dialogLogo {
    height: 56px;
}

.dialogImage {
    border-radius: 16px;
    max-height: 560px;
    object-fit: contain;
    box-shadow: 5px 5px 10px rgb(255, 225, 225);
    max-width: 100%;
    margin: 0px 8px;
}

.dialogHeader {
    padding: 6px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog_footer {
    display: flex;
    justify-content: center;
    gap: 140px;
    align-items: center;
}

.dialog_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56vh;
}

.dialogContainer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
    background-color: black;
}

/* dialog button styles */

.close_x {
    height: 40px;
    cursor: pointer;
}


.prevButton {
    height: 50px;
    cursor: pointer;
}

.nextButton {
    height: 50px;
    cursor: pointer;
}

button {
    background: none;
    border: solid 2px transparent;
    border-radius: 80px;
    outline: hsla(184, 94%, 65%, 0.685);
    padding: 0;
    cursor: pointer;
}

button:hover {
    background-color: hsla(197, 48%, 47%, 0.685);
    transition: all 150ms ease-in-out;
}

button:focus {
    background-color: hsla(197, 48%, 47%, 0.685);
    transition: all 150ms ease-in-out;
}

/*dialog hidden*/
.d_none {
    display: none;
}

@media (max-width: 943px) {

    /*Responsive Design for medium screens*/
    h1 {
        font-size: 32px;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .images {
        max-width: 180px;
        min-height: 103px;
        height: unset;
        margin: 8px;
    }

    .image_gallery {
        margin-bottom: 50px;
        padding-top: unset;
    }

    header {
        height: 40px;
    }

    .head_icon {
        height: 40px;
        padding-left: 16px;
    }

    footer {
        height: 100px;
    }
}

@media (max-width: 500px) {

    /*Responsive Design for smaller screens*/

    p {
        font-size: 12px;
    }

    h1 {
        margin-top: 50px;
        margin-bottom: 22px;
    }

    .head_icon_pos {
        align-self: center;
        justify-self: center;
    }

    .images {
        width: 100%;
        max-height: 169px;
        max-width: 302px;
        height: unset;
    }

    header {
        height: 100px;
        justify-content: center;
    }

    .head_icon_pos {
        padding-left: unset;
    }

    footer {
        height: 100px;
    }

    .dialog_content {
        height: 43vh;
    }

    .dialog_footer {
        gap: 60px;
    }
}